body{
    background-color: linen;
}

h1{
color: cadetblue;
}
h3{
color:cadetblue;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}